body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 100px;
}
li a {
	color: #47C796;
	text-decoration: none;
}
li a:hover {
	text-decoration: none;
	color: grey;
}
h4 a {

	text-decoration: none;
	color: grey;
}
h4 a:hover{
	text-decoration: none;
	color: #47C796;
}
.col-md-2 {
	text-align: center;
	color: #ffffff;
	padding: 0 0 25px 0;
}
.col-md-1 {
	text-align: center;
	color: #47C796;
	padding-top: 45px;
}
.navigation {
	width: 100%;
	background-color: whitesmoke;
	height: 35px;
	position: fixed;
	z-index: 10;
	box-shadow: 2px 2px 10px grey; 
}
.nav-list {
	display: none;
}
#introduction {
	background: rgba(225,225,225, 0.1);
	height: 350px;
	background-position: center;
}
#introduction h3 {
	color: #47C796;
	text-align: center;
}
.nav-menu {
	text-align: center;
	color: #47C796;
	display: block;
	padding-top: 7px;
}
.logo {
	width: 300px;
	padding-top: 80px;
	display: block;
	margin: auto;
}
.intro-btn {
	margin: 20px auto;
	display: block;
	text-align: center;
}
.btn a{
	color: #47C796;
}
.btn a:hover {
	color: white;
}
.btn.rbtn {
	background: transparent;
	color: #47C796;
	text-transform: uppercase;
	width: 100px;
	margin-right: 50px;
	border: 2px solid #47C796;
	font-weight: 500;
	border-radius: 0px;
}
.btn.rbtn:hover, .btn.sbtn:hover  {
	background: #47C796;
	color: #fff;
}
.btn.sbtn {
	background: transparent;
	color: #47C796;
	text-transform: uppercase;
	width: 100px;
	border: 2px solid #47C796;
	font-weight: 500;
	border-radius: 0px;
}
.info {
	background: #47C796;
	padding: 0;
}

#schedule {
	display: none;
}
#faq-1{
	display: none;
}
.faq-2{
	display: none;
}
.mobile {
	background-color: #47C796;
	color: #fff;
	text-align: center;
	padding: 0 0 20px 0;
	margin-top: -20px;
}
.contactUs {
	display: none;
}
#contact {
	padding-top: 25px;
	color: grey;
	background: rgba(225,225,225,0.1);
}
footer {
height: 35px;
color: #fff;
background-color: #47C796;
text-align: center;
font-size: 12px;
padding-top: 8px;
}
@media (min-width: 782px) {
	#introduction {
		height: 400px;
	}
	.logo {
		width: 400px;
	}
	.intro-btn {
		margin: 30px 0;
	}
	.nav-list {
		margin: auto;
		display: block;
		padding: 5px;
	}
	.nav-list ul{
		padding: 0px;
		text-align: center;
	}
	.nav-list li {
		display: inline;
		list-style-type: none;
		text-transform: uppercase;
		color: grey;
		padding: 0px 40px 0px 40px;
	}
	.nav-menu {
		display: none;
	}
	#faq-1 {
		background-color: #47C796;
	}
	.faq-2 {
		background-color: #47C796;
	}

}
@media (min-width: 992px) {
	.mobile {
		display: none;
	}
	.row {
		padding-top: 15px;
	}
	#schedule {
	display: block;
}
#faq-1{
	display: block;
}
.faq-2{
	display: block;
}
.contactUs {
	display: block;
}
}

@media (min-width: 1200px) {


	#introduction {
		background: rgba(225,225,225, 0.1);
		height: 550px;
		background-position: center;
	}
	.logo {
		margin: auto;
		display: block;
		padding-top: 120px;
		width: 500px;
	}
	.info {
		z-index: 2;
	}
	#schedule {
		height: 250px;
		background: rgba(225,225,225, 0.1);
	}
	.intro-btn {
		margin: 50px auto;
	}
	#contact {
		height: 350px;
	}

}