body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 100px;
}
h4 a {
	color: #522037;
	text-decoration: none;
}
h4 a:hover{
	text-decoration: none;
	color: #aaa;
}
	.col-md-2 {
		text-align: center;
		color: #ffffff;
		padding: 0 0 25px 0;
	}
	.col-md-1 {
		text-align: center;
		color: #522037;
		padding-top: 45px;
	}
	.navigation {
		width: 100%;
		background-color: #522037;
		height: 35px;
		position: fixed;
		z-index: 10;
	}
	.nav-list {
		display: none;
	}
	.introduction {
		background: rgba(0,0,0, 0.2);
		height: 300px;
		background-position: center;
	}
	.logo {
		width: 300px;
		padding-top: 80px;
		display: block;
		margin: auto;
	}
	.intro-btn {
		margin: 20px auto;
		display: block;
		text-align: center;
	}
	.rbtn {
		background: #522037;
		color: #fff;
		text-transform: uppercase;
		width: 100px;
		margin-right: 50px;
	}
	.sbtn {
		background: #522037;
		color: #fff;
		text-transform: uppercase;
		width: 100px;	
	}
	.info {
		background: #522037;
	}
	.faq-1{
		background: #552037;
	}
	.faq-2{
		background: #552037;
	}
@media (min-width: 992px) {

}

@media (min-width: 1200px) {

	.nav-list {
		margin: auto;
		display: block;
		padding: 5px;
	}
	.nav-list ul{
		padding: 0px;
		text-align: center;
	}
	.nav-list li {
		display: inline;
		list-style-type: none;
		text-transform: uppercase;
		color: #ffffff;
		padding: 0px 40px 0px 40px;
	}
	.introduction {
		background: rgba(0,0,0, 0.2);
		height: 550px;
		background-position: center;
	}
	.logo {
		margin: auto;
		display: block;
		padding-top: 120px;
		width: 500px;
	}
	.info {
		height: 460px;
		z-index: 2;
	}
	.timeline {
		height: 250px;
		background: rgba(0,0,0, 0.2);
	}
	.faq-1{
		height: 250px;
	}
	.faq-2{
		height: 270px;
	}
	.contact {
		padding-top: 25px;
		height: 300px;
		background: rgba(0,0,0,0.2);
	}
}
footer {
	height: 35px;
	color: #fff;
	background-color: #522037;
	text-align: center;
	font-size: 12px;
	padding-top: 8px;
}